{% for message in messages %}
    {% if loop.changed(message.date) %}
        <b>{{ message.date }}</b><hr>
    {% endif %}
    {% if message.sender == username or message.receiver == "全員" or message.receiver == username %}
        <table style="margin-bottom: 20px;">
            <tr>
                <td rowspan="2" valign="top">
                    {% for user in users %}
                        {% if user.username == message.sender %}
                            <img src="../static/{{ user.icon }}" width="50" height="50" style="border-radius: 50%;">
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <b>{{ message.sender }}</b>
                    {% if message.sender == username %}
                        <b style="color: green;">-自分-</b>
                    {% endif %}
                    {{ message.time }}
                </td>
            </tr>
            <tr>
                <td>
                    {% if message.receiver != "全員" %}
                        <span style="color: blue;">@{{ message.receiver }}</span>
                    {% endif %}
                    <span style="white-space: pre-wrap;">{{ message.text }}</span>
                </td>
            </tr>
        </table>
    {% endif %}
{% endfor %}

全ユーザー数：{{ users | count }}

<form action="send" method="POST">
    <input type="hidden" name="sender" value="{{ username }}">
    <p>
        宛先：
        <select name="receiver">
            <option>全員</option>
            {% for user in users %}
                {% if user.username != username %}
                <option>{{ user.username }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </p>
    <p>
        <textarea name="text" rows="4" cols="40"></textarea>
        <input type="submit" value="送信">
    </p>
</form>

{% for user in users %}
    {% if user.username == username %}
        <img src="../static/{{ user.icon }}" width="25" height="25" style="border-radius: 50%; vertical-align: middle;">
    {% endif %}
{% endfor %}
<b>{{ username }}</b>

<p><a href="{{ url_for('logout') }}">ログアウト</a></p>

<script>
    onload = scroll(0, document.body.scrollHeight);
</script>